<ul class="nav nav-tabs">
    <li class="nav-item"  role="presentation">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-item"  role="presentation">
        <a class="nav-link" routerLink="library" routerLinkActive="active">Library</a>
    </li>
    <li class="nav-item"  role="presentation">
        <a class="nav-link" routerLink="element" routerLinkActive="active">Element</a>
    </li>
    <li class="nav-item"  role="presentation">
        <a class="nav-link" routerLink="lazy" routerLinkActive="active">Lazy</a>
    </li>
</ul>
<router-outlet></router-outlet>